<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilePapera</title>
    <link rel="icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/external/font-awesome.all.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/external/dracula.css') }}"
    />

    <script
      async
      src="{{ url_for('static', filename='scripts/external/marked.min.js') }}"
    ></script>
    <script
      async
      src="{{ url_for('static', filename='scripts/external/highlight.min.js') }}"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="titlebar">
        <button class="menu-btn" onclick="toggleSidebar()">☰ Menu</button>
        <div class="title-container">
          <img
            src="{{ url_for('static', filename='icons/favicon.png') }}"
            alt="FilePapera"
            class="title-icon"
          />
          <div class="title">
            <span class="title-light">File</span
            ><span class="title-dark">Papera</span>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <div class="upload-buttons" id="upload-buttons-container">
          <!-- Dynamically generated content -->
        </div>

        <div class="separator"></div>

        <div class="tree scrollable">
          <ul class="tree-root">
            <li>
              <div class="node node-main current-less" id="root-node"></div>
              <ul id="main-node-group">
                <!-- Dynamically generated content -->
              </ul>
            </li>
          </ul>
        </div>

        <div class="storage-info no-text-select" id="storage-bar-info">
          <!-- Dynamically generated content -->
        </div>
        <div class="storage-bar">
          <div class="storage-progress" id="storage-bar-progress"></div>
        </div>
      </div>

      <div class="main">
        <div class="main-inner scrollable">
          <div class="files" id="main-files-div">
            <!-- Dynamically generated content -->
          </div>
        </div>
      </div>
    </div>

    <div class="modal-background" id="file-rename-modal">
      <div class="rename-modal">
        <div class="modal-header">
          <div class="modal-title" id="file-rename-title"></div>
          <button
            class="file-action-button modal-close-button"
            id="file-rename-close"
          ></button>
        </div>
        <div
          class="error"
          style="display: none; margin-bottom: 20px"
          id="file-rename-error"
        ></div>
        <input class="rename-modal-input" id="file-rename-input" />
        <button class="modal-save-button" id="file-rename-save">Ok</button>
      </div>
    </div>

    <div class="modal-background" id="delete-file-modal">
      <div class="delete-modal">
        <div class="modal-header">
          <div class="modal-title" id="delete-file-title"></div>
          <button
            class="file-action-button modal-close-button"
            id="delete-file-close"
          ></button>
        </div>
        <div class="delete-modal-name" id="delete-file-name"></div>
        <div style="align-items: left">
          <button class="modal-save-button delete-ok" id="delete-file-save">
            Ok
          </button>
          <button class="modal-save-button" id="delete-file-cancel">
            Annulla
          </button>
        </div>
      </div>
    </div>

    <div class="modal-background" id="upload-file-modal">
      <div class="upload-modal scrollable">
        <div class="modal-header">
          <div class="modal-title">Carica file</div>
          <button
            class="file-action-button modal-close-button"
            id="upload-file-close"
          ></button>
        </div>
        <div id="upload-file-pathbar"></div>

        <div class="modal-grid-wrapper">
          <button
            class="upload-file file-input"
            id="file-selection-input-button"
          >
            Carica file
          </button>
          <input
            type="file"
            id="file-selection-input"
            style="display: none"
            multiple
          />

          <button
            class="upload-folder file-input"
            id="folder-selection-input-button"
          >
            Carica cartella
          </button>
          <input
            type="file"
            id="folder-selection-input"
            style="display: none"
            webkitdirectory
          />

          <button
            class="replace-files file-input"
            id="main-replace-button"
          ></button>
        </div>

        <div
          class="files modal-upload scrollable"
          id="new-files-uploading-list"
        ></div>

        <div style="align-items: left">
          <button class="modal-save-button" id="upload-file-cancel">
            Chiudi
          </button>
        </div>
      </div>
    </div>

    <div class="modal-background" id="folder-create-modal">
      <div class="rename-modal">
        <div class="modal-header">
          <div class="modal-title">Crea cartella</div>
          <button
            class="file-action-button modal-close-button"
            id="folder-create-close"
          ></button>
        </div>
        <div
          class="error"
          style="display: none; margin-bottom: 20px"
          id="folder-create-error"
        ></div>
        <input class="rename-modal-input" id="folder-create-input" />
        <button class="modal-save-button" id="folder-create-save">Ok</button>
      </div>
    </div>

    <div class="modal-background" id="view-file-modal">
      <div class="view-modal">
        <div class="modal-header">
          <div class="modal-title" id="view-file-title"></div>
          <button
            class="file-action-button modal-close-button"
            id="view-file-close"
          ></button>
        </div>
        <div class="view-modal-element scrollable" id="view-file-content"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
