<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ translations["title_html_login"] }}</title>
    <link rel="icon" href="favicon.ico" />
    {% assets "main_styles" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %} {% assets "external_styles" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>
  <body>
    <div class="main-inner">
      <div class="titlebar">
        <div class="title-container">
          <img src="{{ url_for('static', filename='icons/name_icon.png') }}"
          alt="{{ translations["title_html"] }}" class="title-icon" />
        </div>
      </div>
      <div class="modal-background transparent">
        <div class="login-modal">
          <div class="modal-title" style="margin-bottom: 20px">
            {{ translations["login_html"] }}
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <div
            class="file-path-info no-text-select"
            style="background-color: var(--bg-dark)"
          >
            {% for category, message in messages %}
            <span class="path-separator {{ category }}">{{ message }}</span>
            {% if category == "error" %}
            <span class="path-separator {{ category }}">
              {{ translations["wrong_credentials_html"] }}
            </span>
            {% else %}
            <span class="path-separator {{ category }}"> {{ message }} </span>
            {% endif %} {% endfor %}
          </div>
          {% endif %} {% endwith %}
          <form method="POST">
            <label for="username" class="file-name"
              >{{ translations["username_input_html"] }}</label
            >
            <input
              type="text"
              name="username"
              class="rename-modal-input"
              style="margin-bottom: 10px"
              required=""
            />
            <label for="password" class="file-name"
              >{{ translations["password_input_html"] }}</label
            >
            <div class="password-container">
              <input
                type="password"
                name="password"
                id="password"
                class="rename-modal-input"
                required
              />
              <button
                type="button"
                class="rename-modal-input password-button"
                onclick="showPassword()"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
            <input type="submit" value="{{
            translations["login_confirm_button_html"] }}"
            class="modal-save-button" />
          </form>
        </div>
      </div>
    </div>

    {% assets "login_scripts" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
