<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilePapera Login</title>
    <link rel="icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/external/font-awesome.all.min.css')}}"
    />
  </head>
  <body>
    <div class="main-inner">
      <div class="titlebar">
        <div class="title-container">
          <img
            src="{{ url_for('static', filename='icons/name_icon.png') }}"
            alt="FilePapera"
            class="title-icon"
          />
        </div>
      </div>
      <div class="modal-background transparent">
        <div class="login-modal">
          <div class="modal-title" style="margin-bottom: 20px">Login</div>
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <div
            class="file-path-info no-text-select"
            style="background-color: var(--bg-dark)"
          >
            {% for category, message in messages %}
            <span class="path-separator {{ category }}">{{ message }}</span>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
          <form method="POST">
            <label for="username" class="file-name">Utente:</label>
            <input
              type="text"
              name="username"
              class="rename-modal-input"
              style="margin-bottom: 10px"
              required=""
            />
            <label for="password" class="file-name">Password:</label>
            <div class="password-container">
              <input
                type="password"
                name="password"
                id="password"
                class="rename-modal-input"
                required
              />
              <button
                type="button"
                class="rename-modal-input password-button"
                onclick="showPassword()"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
            <input type="submit" value="Accedi" class="modal-save-button" />
          </form>
        </div>
      </div>
    </div>

    <script>
      function showPassword() {
        const passwordInput = document.getElementById("password");
        const passwordButtonIcon = document.querySelector(".password-button i");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          passwordButtonIcon.classList.replace("fa-eye", "fa-eye-slash");
        } else {
          passwordInput.type = "password";
          passwordButtonIcon.classList.replace("fa-eye-slash", "fa-eye");
        }
      }
    </script>
  </body>
</html>
