/* VARIABLES */

:root {
  --bg-dark: #1e1e1e;
  --bg-light: #2a2a2a;
  --accent-green: rgba(99, 209, 32);
  --accent-green-dark: rgb(66, 136, 21);
  --accent-green-transparent: rgb(40, 84, 12);
  --storage-progress: var(--accent-green);
  --files-color: var(--accent-green);
  --folders-color: var(--accent-green);
  --text-light: #f0f0f0;
  --border-color: #666666;
  --light-text: #c0c0c0;
  --node-size: 12px;
  --node-distance: 2px;
  --scrollbar-bg: #444;
  --scrollbar-thumb: #ffffff;
  --storage-bar-bg: #444;
  --bars-height: 8px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* TITLE BAR */

.titlebar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light);
  color: var(--text-light);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.separator {
  height: 4px;
  background-color: var(--border-color);
  margin: 15px 8px 15px 8px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  height: 100%;
}

.title-icon {
  /* max-height: 100%; */
  height: 45px;
  width: auto;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: auto;
}

.title-light {
  color: var(--accent-green);
}

.title-dark {
  color: var(--accent-green-dark);
}

.menu-btn {
  background-color: var(--bg-light);
  color: var(--text-light);
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}

/* SIDEBAR */

.sidebar {
  width: 250px;
  background-color: var(--bg-light);
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  z-index: 999;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar.active {
  transform: translateX(-100%);
}

.upload-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px;
}

.upload-file,
.upload-folder {
  background: transparent;
  color: var(--text-light);
  border: 2px solid var(--accent-green);
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.upload-file:hover,
.upload-folder:hover {
  background-color: var(--accent-green-transparent);
  color: var(--text-light);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-file i,
.upload-folder i {
  font-size: 18px;
  color: var(--accent-green);
}

.upload-file span,
.upload-folder span {
  margin-left: 10px;
}

/* FOLDER STRUCTURE */

.tree {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.tree ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tree ul ul {
  margin-left: calc(var(--node-size) + 10px);
}

.tree li {
  margin: var(--node-distance) 0;
}

.node {
  width: var(--node-size);
  height: var(--node-size);
  border-radius: 50%;
  border: 2px solid var(--border-color);
  display: inline-block;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.node.node-main {
  border-radius: 0;
}

.node.current {
  background-color: var(--folders-color);
  border-color: var(--folders-color);
  margin-right: 10px;
}

.node.current-less {
  border: 2px solid var(--folders-color);
  box-shadow: 0 0 0 2px var(--bg-light);
}

.node:not(.current):hover:hover {
  background-color: var(--accent-green-transparent);
}

/* SCROLLBARS */

.scrollable::-webkit-scrollbar {
  width: var(--bars-height);
}

.scrollable::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: var(--bars-height);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--bars-height);
}

/* STORAGE BAR */

.storage-bar {
  height: var(--bars-height);
  background-color: var(--storage-bar-bg);
  border-radius: var(--bars-height);
  margin-top: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.storage-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.storage-text {
  font-size: 15px;
  color: var(--text-light);
}

.storage-percentage {
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-green);
}

.storage-progress {
  width: 24%;
  height: 100%;
  background-color: var(--storage-progress);
}

.main {
  flex: 1;
  padding: 50px 0px 0px 260px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-inner {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* FILES */

.files {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-light);
  border-radius: 5px;
}

.folder-clickable {
  cursor: pointer;
  transition: all 0.2s ease;
}

.folder-clickable:hover {
  color: var(--accent-green);
}

.file-info {
  display: flex;
  flex: 1;
  gap: 10px;
}

.file-name {
  font-weight: bold;
  flex: 1;
}

.file-date,
.file-size {
  font-size: 14px;
  color: var(--light-text);
}

.file-actions {
  display: flex;
  margin-left: 24px;
  gap: 8px;
}

.file-action-button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.file-action-button {
  color: var(--accent-green);
}

.file-action-button:hover {
  background: var(--accent-green-transparent);
}

.last-file {
  margin-bottom: 45px;
}

.file-path-return,
.file-path-info {
  background-color: var(--bg-light);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  gap: 5px;
}

.file-path-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.file-path-return {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-path-container {
  display: flex;
  align-items: stretch;
}

.return-span {
  color: var(--accent-green);
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.path-folder {
  color: var(--path-folder-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.path-folder:hover {
  text-decoration: underline;
}

.path-separator {
  color: var(--accent-green);
  font-size: 16px;
  font-weight: bold;
}

.add-folder-icon::before,
.add-file-icon::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

.add-file-icon::before {
  content: "\f15b";
}

.add-folder-icon::before {
  content: "\f07c";
}

/* RESPONSIVE SIDEBAR AND THINGS */

@media (max-width: 1200px) {
  .file-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .file-name,
  .file-date {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
  }

  .file-size {
    width: 100%;
    text-align: left;
  }
}

@media (max-height: 400px) {
  .tree {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .menu-btn {
    display: block;
  }

  .main {
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .sidebar {
    transform: translateX(0);
  }

  .titlebar,
  .sidebar {
    position: fixed;
  }
}
